<!-- styles.css -->
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F8FF;
    color: #265775;
}
header {
    background-color: #265775;
    color: white;
    text-align: center;
    padding: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.hero {
    text-align: center;
    padding: 40px;
}
.hero-img {
    width: 100%;
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}
footer {
    background-color: #265775;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
